.card {border: solid black 1px;
padding: 16px;
width: 300px;
text-align: center;
border-radius: 7px;
box-shadow: #00000052 0px 0px 4px 2px;
margin-bottom: 8px;
margin: 10px;
justify-content: center;
font-family:'Outfit', sans-serif;
background-color: whitesmoke;
}
.card img{
	width: 250px;
}
.cards{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 14px;
	margin: 40px;
	padding-bottom: 50px;
}


@media (min-width: 576px) {
.cards{
	grid-template-columns: 1fr;
}
}

@media (min-width: 768px) {
.cards{
	grid-template-columns: 1fr;
}
}

@media (min-width: 992px) {
.cards{
	grid-template-columns: 1fr 1fr;
}
}

@media (min-width: 1200px) {
.cards{
	grid-template-columns: 1fr 1fr 1fr;
}
}
@media (min-width: 1400px) {
	.cards{
	grid-template-columns: 1fr 1fr 1fr;
}
}Ò